.contact-info {
  font-family: "aileron", sans-serif;
  background: rgb(76, 177, 76);
  border-radius: 10px;
  color: #fff;
  padding: 30px;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.contact-info-address {
  position: relative;
  padding-left: 80px;
  margin-bottom: 30px;
  line-height: 2;
  min-height: 40px;
}

.contact-info-email {
  position: relative;
  padding-left: 80px;
  margin-bottom: 30px;
  line-height: 2;
  min-height: 40px;
}

.contact-infos-tel {
  position: relative;
  padding-left: 80px;
  margin-bottom: 30px;
  line-height: 2;
  min-height: 40px;
}
