@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,700,900");
@import url("../css/header.css");
@import url("../css/footer.css");
@import url("../css/body.css");
@import url("../css/secondary-header.css");

html {
  font-family: "Poppins";
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

p {
  line-height: 1.6;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.9rem;
}
