/* for header */
.container1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.user-image1 {
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  border: 12px solid #00bc66;
}
.user-name1 {
  color: white;

  font-weight: 200;
  background-color: #00bc66;
  background-size: contain;
  width: max-content;
  /* margin-right: auto; */

  padding: 1% 1%;
}

.user-quote1 {
  color: white;
  font-weight: 200;

  background-color: #deaa00;
  background-size: contain;
  width: max-content;
  margin-right: auto;
  padding: 1% 1%;
  justify-content: space-around;
}

.connect {
  top: 40%;
  left: 50%;
  position: relative;
  color: #00bc66;
}
