/* for header */

.container1 {
  display: flex;
  flex-wrap: wrap;
}

.user-profile {
  display: inline-flex;
  justify-content: center;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex-direction: column;
}

.user-image1 {
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  border: 12px solid #00bc66;
}
.user-name1 {
  color: white;
  font-weight: 200;
  background-color: #00bc66;
  padding: 1% 1%;
  width: 100%;
}

.user-quote1 {
  color: white;
  font-weight: 200;

  background-color: #deaa00;
  background-size: contain;
  margin-right: auto;
  padding: 1% 1%;
  justify-content: space-around;
  width: 100%;
}

.connect {
  top: 40%;
  left: 50%;
  position: relative;
  color: #00bc66;
}
