.wraper {
  display: flex;
  flex-direction: column;
}

.secondary-header {
  display: flex;
  flex-direction: row;
  background: #00bc66;
  width: 100%;
  height: 160px;
  position: relative;
}

.secondary-title1 {
  display: flex;
  justify-items: flex-end;
  font-family: "Poppins";
  font-size: 70px;
  font-weight: bold;
  position: relative;
  width: 400px;
  height: 100px;
  top: 40%;
  left: 18%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #00bc66;
  padding: 10px 10px 10px 10px;
}

.secondary-title2 {
  display: flex;
  justify-items: flex-end;
  font-family: "Poppins";
  font-size: 55px;
  font-weight: lighter;
  position: relative;
  width: 400px;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px 10px 10px 10px;
}

.secondary-nav-bar {
  margin: auto;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 7%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #00bc66;
}

.secondary-nav-button {
  padding-left: 3em;
  font-family: "Poppins";
  font-size: 1.4em;
  font-weight: lighter;
  color: white;
}
