@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,700,900");
@import url("./user-profile-body.css");

html {
  font-family: "Poppins";
  box-sizing: border-box;
  font-size: 62.5%;
}
