.user-wrapper {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 1000px;
  padding-right: 10px;
  padding-left: 10px;
}
.user {
  display: flex;
  flex-direction: row;
}

.user-image {
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  border: 12px solid #00bc66;
}

.user-intro {
  display: flex;
  flex-direction: column;
}

.user-name {
  color: white;
  font-weight: 350;
  background-color: #00bc66;
  background-size: contain;
  margin-left: 5%;
  margin-right: auto;
  padding: 2% 8% 2% 2%;
}

.user-quote {
  color: white;
  font-weight: 350;
  background-color: #deaa00;
  background-size: contain;
  width: 500px;
  margin-left: 5%;
  margin-right: -10%;
  padding: 2% 8% 2% 2%;
}

.user-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.user-title1 {
  font-weight: normal;
  font-size: x-large;
  margin: 5%;
}

.user-title2 {
  font-weight: normal;
  font-size: x-large;
  margin: 5% 5% 5% 0.5%;
  color: #00bc66;
}

.user-title3 {
  font-weight: normal;
  font-size: x-large;
  margin: 0 5% 2% 5%;
}

.user-description {
  text-align: justify;
  width: 100%;
  contain: initial;
  margin-right: 5%;
  margin-left: 5%;
}

.user-info {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  margin-top: 5%;
}

.user-interests-wraper {
  margin-left: 6%;
}

.user-interests {
  font-weight: normal;
  font-size: x-large;
}

.user-interests-list {
  list-style: none;
  font-weight: normal;
  font-size: large;
}

.user-skills {
  font-weight: normal;
  font-size: x-large;
}
.user-skills-wraper {
  margin-left: 6%;
}
.user-skills-list {
  list-style: none;
  font-weight: normal;
  font-size: large;
}

.list {
  flex-wrap: wrap;
  background-color: #d3d3d3;
  border-radius: 25px;
}
